@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(41, 158, 236, 0.555), rgba(100,20,20,0.6));
  font-family: 'Poppins', sans-serif;
}
.main {
  margin: 30px auto;
  width: 95%;
  max-width: 600px;
}
.container {
  width: 100%;
  border: 1px solid #123;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.container h3 {
  margin: 1rem 0;
}
.btn {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;background-color: rgb(110, 183, 255);
  box-shadow: 0 5px 7.5px rgba(0,0,0,0.5);
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #123;
  background-color: rgb(77, 154, 231);
  border-radius: 10px;
}
.id {
  margin: 1rem;
  /* border: 1px solid #123; */
}


.list-right {
  margin: 1rem;
  /* border: 1px solid #123; */
}

.name {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}
.age {
  font-size: 0.8rem;
  /* color: rgb(32, 32, 32); */
}